<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <h1>Let's Play Boggle!</h1>
    <section id="board">
        <table>
            {% for row in board %}
            <tr>
                {% for ltr in row %}
                <td>{{ltr}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </section>

    <section id="word-form">
        <form action="" id="guess-word-form">
            <input type="text" name="guess" placeholder="Enter a word!" id="guess">
        </form>
    </section>

    <section id="highscore">
        High Score: {{session['highscore']}} in {{session['plays']}} play(s)
    </section>

    <section id="score">

    </section>

    <section id="timer">

    </section>

    <section id="msg">

    </section>

    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/home.js"></script>
</body>

</html>